@media (min-width: 768px) 
 {
  body {
    display:grid;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 0rem;
    background-color: white;
    grid-template-columns: 50% 50%;
}

#mainheader {
    display: block;
    background-color:lightblue;
    margin:0.5rem;
    grid-column: 1 / span 2;
    column-width: 2;
}

#myLinks {
  display:block;
  margin:0.5rem;
  grid-column:1 / span 2;
  column-width:2;
}

img {background-color: none;
    display:flex;
}

.navigation-desktip > li > a {
  display: none;
}

.navigation-desktop img {
  display: none;
}

Main Menu
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background:none;
  }
/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  /* background-color: #04AA6D; */
  color: white;
}

 .menuHeader{
  grid-row:1 / 1;
  background-color: lightseagreen;
}

h1 p {
  display:grid;
  grid-column-start: 1;
  grid-column-end: 2;
}

h2 {
  display:grid;
  grid-row-start:2;
  grid-row-end:3;
  grid-column-start: 2;
  grid-column-end: 3;
}

h3 {
  display:grid;
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start:1;
  grid-column-end:2;
}

.FAQ1 {
  display:grid;
  grid-row-start:5;
  grid-row-end:6;
  grid-column-start:1;
  grid-column-end:2;
  
}

.FAQ2 {
  display:grid;
  grid-row-start:6;
  grid-row-end:7;
  grid-column-start:1;
  grid-column-end:2;
}

.FAQ3 {
  display:grid;
  grid-row-start:7;
  grid-row-end:8;
  grid-column-start:1;
  grid-column-end:2;
}
  

h4 .resourcelist {
  display:grid;
  grid-row-start:6;
  grid-row-end:7;
  grid-column-start:2;
  grid-column-end:3;
}


ul {
  margin-top:0px;
  padding:0px;
}

p {
  display: grid;
  grid-column: 1 / 4 span 1;
}

#message {
  position: absolute;
  top:17%;
  left:52%;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;   /* Height of the footer */
  background:#6cf; 
}

footer p {
  display:grid;
  align-items:center;
  list-style-type: none;
  color:#333;
  padding-left: 0.7em;
  padding-right:0.7em;
  }

}
